{% extends "base.html" %}
{% block contenido %}
<div class="form-card update-book-card">
    <h1>Actualizar Libro</h1>
    
    <div class="update-book-container">
        {% if libro.portada %}
        <div class="current-cover">
            <p class="label">Portada actual:</p>
            <img src="{{ libro.portada.url }}" alt="Portada del Libro">
        </div>
        {% endif %}

        <form action="{% url 'actualizar_libro' libro.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <p>
                    <span class="label">{{ field.label }}:</span>
                    {{ field }}
                </p>
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            
            <input type="submit" value="Actualizar" class="btn-submit">
        </form>
    </div>
</div>
{% endblock contenido %}