{% extends "base.html" %}
{% block contenido%}
<h1>{{libro.nombre}}</h1>

    <ul>
        <li>
            {% if libro.portada %}
            <img src={{libro.portada.url}} alt="Portad del Libro">
            {% endif %}
        </li>
        <li>
            Autor: {{libro.autor}}
        </li>
        <li>
            Genero: {{libro.genero}}
        </li>
        <li>
            Descripcion: {{libro.descripcion}}
        </li>
        <li>
            Publicacion: {{libro.fecha_de_publicacion}}
        </li>
    </ul>
{% endblock contenido%}