{% extends "base.html" %}
{% block contenido%}
<h1 class="book-title">{{ libro.nombre }}</h1>

<div class="book-detail">
    {% if libro.portada %}
    <div class="book-cover-detail">
        <img src="{{ libro.portada.url }}" alt="Portada del Libro">
    </div>
    {% endif %}

    <div class="book-info">
        <ul>
            <li><span class="label">Autor:</span> {{ libro.autor }}</li>
            <li><span class="label">Género:</span> {{ libro.genero }}</li>
            <li><span class="label">Descripción:</span> {{ libro.descripcion }}</li>
            <li><span class="label">Publicación:</span> {{ libro.fecha_de_publicacion }}</li>
        </ul>
    </div>
</div>
{% endblock contenido%}