{% extends "base.html" %}

{% block contenido%}
    <header class="inicio-header">
    <h1>Bienvenido a la Biblioteca de Victor Sage</h1>
    <p class="intro-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Explora nuestra colección de libros y descubre nuevas historias cada día.
    </p>
    <a href="{% url 'lista_libros' %}" class="btn-crear">Ver Libros</a>
</header>
{% endblock contenido%}
    