{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}La Biblitoeca de Marito{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <nav class="main-nav">
    <div class="nav-links">
        <a href="{% url 'inicio'%}">Inicio</a>
        <a href="{% url 'lista_libros'%}">Libros</a>
        <a href={% url 'about' %}>Sobre Nosotros</a>

        {% if not request.user.is_authenticated %}
            <a href="{% url 'iniciar_sesion'%}">Iniciar</a>
            <a href="{% url 'registro'%}">Registrarse</a>
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="user-info">
            <img src="{% if request.user.userdata.avatar %}{{ request.user.userdata.avatar.url }}{% else %}{% static 'img/default-avatar.png' %}{% endif %}" alt="Avatar">
            <a href="{% url 'perfil' %}">{{request.user.username}}</a>
            <form action="{% url 'cerrar_sesion' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Cerrar Sesión">
            </form>
        </div>
    {% endif %}
</nav>


    {% block contenido%}{% endblock contenido%}

</body>
</html>