<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuPrimeraPagina+Giemenz</title>
</head>
<body>
    
    <nav>
        <a href={% url 'inicio'%}>Inicio</a>
        <a href={%url 'lista_libros'%}>Libros</a>

        {% if request.user.is_authenticated %}
            {% if request.user.userdata.avatar.url %}
            <img src={{request.user.userdata.avatar.url}} alt="Avatar" height="40px">
            {% endif %}
        <a href={% url 'perfil' %}>{{request.user.username}}</a>
        <form action={% url "cerrar_sesion" %} method="post">
            {% csrf_token %}
            <input type="submit" value="Cerrar Sesioin">
        </form>
        
        {% else %}
        <a href={%url 'iniciar_sesion'%}>Iniciar</a>
        <a href={%url 'registro'%}>Registrarse</a>
        {% endif %}
    </nav>

    {% block contenido%}{% endblock contenido%}

</body>
</html>