{% extends "base.html" %}
{% block contenido%}
    <div class="profile-card">
    <h1>Perfil</h1>

    {% if user.userdata.avatar.url %}
        <div class="profile-avatar">
            <img src="{{ user.userdata.avatar.url }}" alt="Avatar del Usuario">
        </div>
    {% endif %}

    <div class="profile-info">
        <p><span class="label">Nombre de usuario:</span> {{ user.username }}</p>
        <p><span class="label">Email:</span> {{ user.email }}</p>
        <p><span class="label">Nombre:</span> {{ user.first_name }}</p>
        <p><span class="label">Apellido:</span> {{ user.last_name }}</p>
    </div>

    <div class="profile-actions">
        <a href="{% url 'editar_perfil' %}" class="btn-profile">Modificar datos de usuario</a>
        <a href="{% url 'editar_contrasenia' %}" class="btn-profile">Cambiar Contraseña</a>
    </div>
</div>
{% endblock contenido%}